In [75]:
import os
import gzip
import csv

import pandas as pd
import numpy as np

In [1]:
def generate_dirpaths(dirname='opensky-network.org'):
    """Yields the filenames that should be in a given directory.
    
    dirname: string directory name
    
    yields: directories under dirname and files they contain
    """
    for dirpath, dirnames, filenames in os.walk(dirname):
        if len(dirnames) == 0:
            yield dirpath, filenames

In [12]:
def download_datafiles(date, dirname='opensky-network.org/datasets/states'):
    """Download
    
    date: string 'YYYY-MM-DD' format
    
    """
    for hour in range(24):
        hour = '%0.2d' % hour
        
        filename = 'states_%s-%s.csv.tar' % (date, hour)

        cmd = 'wget -r https://%s/%s/%s/%s' % (dirname, date, hour, filename)
        print(cmd)

In [14]:
date = '2018-02-05'
download_datafiles(date)

wget -r https://opensky-network.org/datasets/states/2018-02-05/00/states_2018-02-05-00.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/01/states_2018-02-05-01.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/02/states_2018-02-05-02.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/03/states_2018-02-05-03.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/04/states_2018-02-05-04.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/05/states_2018-02-05-05.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/06/states_2018-02-05-06.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/07/states_2018-02-05-07.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/08/states_2018-02-05-08.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/09/states_2018-02-05-09.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/10/states_2018-02-05-10.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/11/states_2018-02-05-11.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/12/states_2018-02-05-12.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/13/states_2018-02-05-13.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/14/states_2018-02-05-14.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/15/states_2018-02-05-15.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/16/states_2018-02-05-16.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/17/states_2018-02-05-17.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/18/states_2018-02-05-18.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/19/states_2018-02-05-19.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/20/states_2018-02-05-20.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/21/states_2018-02-05-21.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/22/states_2018-02-05-22.csv.tar
wget -r https://opensky-network.org/datasets/states/2018-02-05/23/states_2018-02-05-23.csv.tar

In [4]:
import tarfile

In [5]:
filename = 'opensky-network.org/datasets/states/2017-07-24/00/states_2017-07-24-00.csv.tar'

In [6]:
tf = tarfile.open(filename)

In [7]:
tf.list()

?rw-r--r-- root/root   71408154 2017-08-09 11:53:44 states_2017-07-24-00.csv.gz
?rw-r--r-- root/root      14973 2017-08-24 10:41:59 LICENSE.txt
?rw-r--r-- root/root       7074 2017-09-05 05:32:47 README.txt

In [8]:
for member in tf.getmembers():
    if member.name.startswith('states'):
        f = tf.extractfile(member)
        g = gzip.open(f)
        line = g.readline()
        print(line)

b'time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact\n'

In [27]:
def open_tarfile(filename):
    tf = tarfile.open(filename)
    for member in tf.getmembers():
        if member.name.endswith('.csv.gz'):
            f = tf.extractfile(member)
            g = gzip.open(f, mode='rt')
            reader = csv.reader(g)
            return reader

In [65]:
def open_tarfile_chunks(filename):
    tf = tarfile.open(filename)
    for member in tf.getmembers():
        if member.name.endswith('.csv.gz'):
            f = tf.extractfile(member)
            reader = pd.read_csv(f, compression='gzip', chunksize=10000)
            return reader

In [67]:
reader = open_tarfile_chunks(filename)
reader

In [68]:
chunk = next(reader)
chunk.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1500854400,406735,49.883788,7.112167,225.056885,303.436890,0.00000,EXS938,False,False,False,4761.0,11887.20,NaN,1.500854e+09,1.500854e+09
1,1500854400,406900,52.228678,-1.065125,148.049082,6.384164,-11.70432,EXS632,False,False,False,7454.0,4396.74,4404.36,1.500854e+09,1.500854e+09
2,1500854400,a009a4,40.924072,-73.555542,187.768536,340.472890,6.82752,AAL21,False,False,False,7760.0,3634.74,3749.04,1.500854e+09,1.500854e+09
3,1500854400,4b8e05,50.838547,5.594723,267.219727,101.546631,0.00000,PGT1174,False,False,False,4767.0,10058.40,10126.98,1.500854e+09,1.500854e+09
4,1500854400,3c0f31,38.245468,-77.052612,216.458082,240.998301,0.32512,BMW54A,False,False,False,745.0,13106.40,13784.58,1.500854e+09,1.500854e+09

In [86]:
from math import radians, cos, sin, asin, sqrt

def haversine(*args):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    
    From https://stackoverflow.com/questions/4913349/haversine-formula
    -in-python-bearing-and-distance-between-two-gps-points
    """
    # convert decimal degrees to radians 
    lat1, lon1, lat2, lon2 = np.deg2rad(args)

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [87]:
reader = open_tarfile(filename)
header = next(reader)
header

['time',
 'icao24',
 'lat',
 'lon',
 'velocity',
 'heading',
 'vertrate',
 'callsign',
 'onground',
 'alert',
 'spi',
 'squawk',
 'baroaltitude',
 'geoaltitude',
 'lastposupdate',
 'lastcontact']

In [88]:
logan = 42.3656, -71.0096

In [89]:
res = {}

for i, line in enumerate(reader):
    time, icao24 = line[:2]
    try:
        lat = float(line[2])
        lon = float(line[3])
    except ValueError:
        continue
        #print(line)
        
    d = haversine(lat, lon, *logan)
    if d < 10:
        res.setdefault(icao24, []).append(time)
        #print(line)
        
    if i > 10000000:
        break

In [90]:
len(res)

24

In [91]:
res

{'3949e7': ['1500854790', '1500854800', '1500854810'],
 '396440': ['1500854430',
  '1500854440',
  '1500854450',
  '1500854460',
  '1500854470',
  '1500854480',
  '1500854490',
  '1500854500',
  '1500854510',
  '1500854520',
  '1500854530',
  '1500854540',
  '1500854550',
  '1500854560',
  '1500854570',
  '1500854580',
  '1500854590',
  '1500854600',
  '1500854610',
  '1500854620',
  '1500854630',
  '1500854640',
  '1500854650',
  '1500854660',
  '1500854670',
  '1500854680',
  '1500854690',
  '1500854700',
  '1500854710',
  '1500854720',
  '1500854730',
  '1500854740',
  '1500854750',
  '1500854760'],
 '40067f': ['1500854610',
  '1500854620',
  '1500854630',
  '1500854640',
  '1500854650',
  '1500854660',
  '1500854670'],
 '406b48': ['1500855660',
  '1500855670',
  '1500855680',
  '1500855690',
  '1500855700',
  '1500855710',
  '1500855720'],
 '896185': ['1500854560', '1500854570', '1500854580'],
 'a0ec27': ['1500856270',
  '1500856280',
  '1500856290',
  '1500856300',
  '1500856310',
  '1500856320',
  '1500856330',
  '1500856340',
  '1500856350',
  '1500856360'],
 'a15703': ['1500857610',
  '1500857620',
  '1500857630',
  '1500857640',
  '1500857650',
  '1500857660',
  '1500857670',
  '1500857680',
  '1500857690',
  '1500857700',
  '1500857710',
  '1500857720',
  '1500857730',
  '1500857740',
  '1500857750',
  '1500857760',
  '1500857770',
  '1500857780',
  '1500857790',
  '1500857800',
  '1500857810',
  '1500857820',
  '1500857830',
  '1500857840',
  '1500857850',
  '1500857860',
  '1500857870',
  '1500857880',
  '1500857890',
  '1500857900',
  '1500857910',
  '1500857920',
  '1500857930',
  '1500857940'],
 'a189a7': ['1500854710', '1500854720', '1500854730'],
 'a23efc': ['1500855380',
  '1500855390',
  '1500855400',
  '1500855410',
  '1500855420',
  '1500855430',
  '1500855440',
  '1500855450',
  '1500855460',
  '1500855470',
  '1500855480',
  '1500855490',
  '1500855500',
  '1500855510',
  '1500855520',
  '1500855530',
  '1500855540',
  '1500855550',
  '1500855560',
  '1500855570',
  '1500855580',
  '1500855590',
  '1500855600',
  '1500855610',
  '1500855620',
  '1500855630',
  '1500855640',
  '1500855650',
  '1500855660',
  '1500855670',
  '1500855680',
  '1500855690',
  '1500855700',
  '1500855710',
  '1500855720',
  '1500855730',
  '1500855740',
  '1500855750',
  '1500855760',
  '1500855770',
  '1500855780',
  '1500855790',
  '1500855800',
  '1500855810',
  '1500855820',
  '1500855830',
  '1500855840',
  '1500855850',
  '1500855860',
  '1500855870',
  '1500855880',
  '1500855890',
  '1500855900',
  '1500855910',
  '1500855920',
  '1500855930',
  '1500855940',
  '1500855950',
  '1500855960',
  '1500855970',
  '1500855980',
  '1500855990',
  '1500856000',
  '1500856010',
  '1500856020',
  '1500856030',
  '1500856040'],
 'a2cb14': ['1500857580',
  '1500857590',
  '1500857600',
  '1500857610',
  '1500857620',
  '1500857630',
  '1500857640'],
 'a3deca': ['1500856550', '1500856560', '1500856570', '1500856580'],
 'a65c95': ['1500857690',
  '1500857700',
  '1500857710',
  '1500857720',
  '1500857730',
  '1500857740',
  '1500857750',
  '1500857760',
  '1500857770',
  '1500857780',
  '1500857790',
  '1500857800',
  '1500857810',
  '1500857820',
  '1500857830',
  '1500857840',
  '1500857850',
  '1500857860',
  '1500857870',
  '1500857880',
  '1500857890',
  '1500857900',
  '1500857910',
  '1500857920',
  '1500857930',
  '1500857940',
  '1500857950',
  '1500857960',
  '1500857970',
  '1500857980',
  '1500857990'],
 'a662a5': ['1500854790',
  '1500854800',
  '1500854810',
  '1500854820',
  '1500854830',
  '1500854840',
  '1500854850',
  '1500854860',
  '1500854870',
  '1500854880',
  '1500854890',
  '1500854900',
  '1500854910',
  '1500854920',
  '1500854930',
  '1500855160',
  '1500855170',
  '1500855180',
  '1500855190',
  '1500855200',
  '1500855210',
  '1500855220',
  '1500855230',
  '1500855240',
  '1500855250',
  '1500855260',
  '1500855270',
  '1500855280',
  '1500855290',
  '1500855300',
  '1500855310',
  '1500855320',
  '1500855330',
  '1500855340',
  '1500855350',
  '1500855360',
  '1500855370',
  '1500855380',
  '1500855390',
  '1500855400',
  '1500855410',
  '1500855420',
  '1500855430',
  '1500855440',
  '1500855450',
  '1500855460',
  '1500855470',
  '1500855480',
  '1500855490',
  '1500855500'],
 'a7c8ec': ['1500857010',
  '1500857020',
  '1500857030',
  '1500857040',
  '1500857050',
  '1500857060',
  '1500857070',
  '1500857080',
  '1500857090',
  '1500857100',
  '1500857110',
  '1500857120',
  '1500857130',
  '1500857140',
  '1500857150',
  '1500857160',
  '1500857170',
  '1500857180',
  '1500857190',
  '1500857200',
  '1500857210',
  '1500857220',
  '1500857230',
  '1500857240',
  '1500857250',
  '1500857260',
  '1500857270',
  '1500857280',
  '1500857290',
  '1500857300',
  '1500857310',
  '1500857320',
  '1500857330',
  '1500857340'],
 'a83876': ['1500854570',
  '1500854580',
  '1500854590',
  '1500854600',
  '1500854610',
  '1500854620',
  '1500854630',
  '1500854640',
  '1500854650',
  '1500854660',
  '1500854670',
  '1500854680',
  '1500854690',
  '1500854700',
  '1500854710',
  '1500854720',
  '1500854730',
  '1500854740',
  '1500854750',
  '1500854760',
  '1500854770',
  '1500854780',
  '1500854790',
  '1500854800',
  '1500854810',
  '1500854820',
  '1500854830',
  '1500854840',
  '1500854850',
  '1500854860',
  '1500854870',
  '1500854880',
  '1500854890',
  '1500854900',
  '1500854910'],
 'a8dee0': ['1500857280',
  '1500857290',
  '1500857300',
  '1500857310',
  '1500857320',
  '1500857330',
  '1500857340'],
 'a96c96': ['1500856440',
  '1500856450',
  '1500856460',
  '1500856470',
  '1500856480',
  '1500856490',
  '1500856500',
  '1500856510',
  '1500856520',
  '1500856780',
  '1500856790',
  '1500856800',
  '1500856810',
  '1500856820',
  '1500856830',
  '1500856840',
  '1500856850',
  '1500856860',
  '1500856870',
  '1500856880',
  '1500856890',
  '1500856900',
  '1500856910',
  '1500856920',
  '1500856930',
  '1500856940',
  '1500856950',
  '1500856960',
  '1500856970',
  '1500856980',
  '1500856990',
  '1500857000',
  '1500857010',
  '1500857020',
  '1500857030',
  '1500857040',
  '1500857050',
  '1500857060',
  '1500857070',
  '1500857080',
  '1500857090',
  '1500857100',
  '1500857110',
  '1500857120',
  '1500857130'],
 'aa56b3': ['1500856200',
  '1500856210',
  '1500856220',
  '1500856230',
  '1500856240',
  '1500856250',
  '1500856260',
  '1500856270',
  '1500856280',
  '1500856290',
  '1500856300',
  '1500856310',
  '1500856320',
  '1500856330',
  '1500856340',
  '1500856350',
  '1500856360',
  '1500856370',
  '1500856380',
  '1500856390',
  '1500856400',
  '1500856410',
  '1500856420',
  '1500856430',
  '1500856440',
  '1500856450',
  '1500856460',
  '1500856470',
  '1500856480',
  '1500856490',
  '1500856500',
  '1500856510',
  '1500856520'],
 'ab1628': ['1500855210',
  '1500855220',
  '1500855230',
  '1500855240',
  '1500855250',
  '1500855260',
  '1500855270',
  '1500855280',
  '1500855290',
  '1500855630',
  '1500855640',
  '1500855650',
  '1500855660',
  '1500855670',
  '1500855680',
  '1500855690',
  '1500855700',
  '1500855710',
  '1500855720',
  '1500855730',
  '1500855740',
  '1500855750',
  '1500855760',
  '1500855770',
  '1500855780',
  '1500855790',
  '1500855800',
  '1500855810',
  '1500855820',
  '1500855830',
  '1500855840',
  '1500855850',
  '1500855860',
  '1500855870',
  '1500855880',
  '1500855890',
  '1500855900',
  '1500855910',
  '1500855920'],
 'ab4ae9': ['1500855870',
  '1500855880',
  '1500855890',
  '1500855900',
  '1500855910',
  '1500855920',
  '1500855930',
  '1500855940',
  '1500855950',
  '1500855960',
  '1500855970',
  '1500855980',
  '1500855990',
  '1500856000',
  '1500856010'],
 'ab4fd4': ['1500854410',
  '1500854420',
  '1500854430',
  '1500854440',
  '1500854450',
  '1500854460',
  '1500854470',
  '1500854480',
  '1500854490',
  '1500854500',
  '1500854510',
  '1500854520',
  '1500854530',
  '1500854540',
  '1500854550'],
 'ab81b5': ['1500856940',
  '1500856950',
  '1500856960',
  '1500856970',
  '1500856980',
  '1500856990',
  '1500857000',
  '1500857010',
  '1500857020',
  '1500857030',
  '1500857040',
  '1500857050',
  '1500857060',
  '1500857070',
  '1500857080',
  '1500857090',
  '1500857100',
  '1500857110',
  '1500857120',
  '1500857130',
  '1500857140',
  '1500857150',
  '1500857160',
  '1500857170'],
 'acf5fe': ['1500856000',
  '1500856010',
  '1500856020',
  '1500856030',
  '1500856040',
  '1500856050',
  '1500856060',
  '1500856070',
  '1500856080',
  '1500856090',
  '1500856100',
  '1500856110',
  '1500856120'],
 'ad1560': ['1500854410',
  '1500854420',
  '1500854430',
  '1500854440',
  '1500854450',
  '1500854460',
  '1500854470',
  '1500854480',
  '1500854490',
  '1500854500',
  '1500854510',
  '1500854520',
  '1500854530',
  '1500854540',
  '1500854840',
  '1500854850',
  '1500854860',
  '1500854870',
  '1500854880',
  '1500854890',
  '1500854900',
  '1500854910',
  '1500854920',
  '1500854930',
  '1500854940',
  '1500854950',
  '1500854960',
  '1500854970',
  '1500854980',
  '1500854990',
  '1500855000',
  '1500855010',
  '1500855020',
  '1500855030',
  '1500855040',
  '1500855050',
  '1500855060',
  '1500855070',
  '1500855080',
  '1500855090',
  '1500855100',
  '1500855110',
  '1500855120',
  '1500855130',
  '1500855140',
  '1500855150',
  '1500855160',
  '1500855170',
  '1500855180',
  '1500855190']}

In [92]:
import redis

r = redis.Redis(
    host='localhost',
    port=6379)

In [93]:
r.set('foo', 'bar')

True

In [94]:
r.get('foo')

b'bar'

In [113]:
def process_file(reader, redis, nrows=1e9):
    for i, line in enumerate(reader):
        time, icao24 = line[:2]
        try:
            lat = float(line[2])
            lon = float(line[3])
        except ValueError:
            continue
            #print(line)
        
        d = haversine(lat, lon, *logan)
        if d < 10:
            key = 'icao24:' + icao24
            r.hsetnx(key, time, line)
            #print(line)
        
        if i > nrows:
            break

In [114]:
reader = open_tarfile(filename)
header = next(reader)

%time process_file(reader, r)

CPU times: user 31.5 s, sys: 40 ms, total: 31.5 s
Wall time: 31.5 s

In [115]:
keys = r.keys()
keys

[b'icao24:a65c95',
 b'icao24:a662a5',
 b'icao24:a15703',
 b'icao24:ad1560',
 b'icao24:a2cb14',
 b'icao24:a189a7',
 b'icao24:a8dee0',
 b'icao24:a7c8ec',
 b'icao24:a3deca',
 b'icao24:ab1628',
 b'icao24:a96c96',
 b'icao24:3949e7',
 b'icao24:a83876',
 b'icao24:a23efc',
 b'icao24:acf5fe',
 b'icao24:896185',
 b'icao24:ab4ae9',
 b'icao24:aa56b3',
 b'icao24:396440',
 b'icao24:ab4fd4',
 b'icao24:ab81b5',
 b'icao24:406b48',
 b'icao24:a0ec27',
 b'icao24:40067f']

In [118]:
r.hgetall('icao24:a65c95')

{b'1500857690': b"['1500857690', 'a65c95', '42.2818613861', '-71.0453264103', '92.1242666789', '20.2564621745', '-4.55168', 'NKS414  ', 'False', 'False', 'False', '3672', '441.96', '464.82', '1500857688.7', '1500857689.58']",
 b'1500857700': b"['1500857700', 'a65c95', '42.2890769829', '-71.0418133403', '79.5593924753', '19.2550777893', '-9.7536', 'NKS414  ', 'False', 'False', 'False', '3672', '411.48', '434.34', '1500857699.08', '1500857699.9']",
 b'1500857710': b"['1500857710', 'a65c95', '42.2952575684', '-71.0388461026', '78.104053042', '19.6284382469', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '342.9', '365.76', '1500857708.25', '1500857709.94']",
 b'1500857720': b"['1500857720', 'a65c95', '42.2980041504', '-71.0375352339', '75.5094447212', '19.9164059938', '-2.60096', 'NKS414  ', 'False', 'False', 'False', '3672', '327.66', '350.52', '1500857712.36', '1500857715.91']",
 b'1500857730': b"['1500857730', 'a65c95', '42.3076047736', '-71.0328709802', '75.5094447212', '19.9164059938', '-2.60096', 'NKS414  ', 'False', 'False', 'False', '3672', '297.18', '350.52', '1500857728.25', '1500857728.41']",
 b'1500857740': b"['1500857740', 'a65c95', '42.3125152588', '-71.0304815119', '69.971948944', '19.7671686768', '-3.2512', 'NKS414  ', 'False', 'False', 'False', '3672', '259.08', '289.56', '1500857736.54', '1500857739.99']",
 b'1500857750': b"['1500857750', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857760': b"['1500857760', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857770': b"['1500857770', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857780': b"['1500857780', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857790': b"['1500857790', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857800': b"['1500857800', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857810': b"['1500857810', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857820': b"['1500857820', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857830': b"['1500857830', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857840': b"['1500857840', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857850': b"['1500857850', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857860': b"['1500857860', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857870': b"['1500857870', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857880': b"['1500857880', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857890': b"['1500857890', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857900': b"['1500857900', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857910': b"['1500857910', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857920': b"['1500857920', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857930': b"['1500857930', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857940': b"['1500857940', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857950': b"['1500857950', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857960': b"['1500857960', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857970': b"['1500857970', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857980': b"['1500857980', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']",
 b'1500857990': b"['1500857990', 'a65c95', '42.3148669227', '-71.0293579102', '70.4562940035', '19.6256827148', '-3.57632', 'NKS414  ', 'False', 'False', 'False', '3672', '243.84', '251.46', '1500857740.53', '1500857742.93']"}

In [117]:
def delete_all(r):
    keys = r.keys()
    return r.delete(*keys)

In [112]:
r.keys()

[]

In [34]:
from datetime import datetime
import pytz

In [42]:
start = datetime(2017, 9, 3, 18, 0, 0)

eastern = pytz.timezone('US/Eastern')
loc_dt = eastern.localize(start)

fmt = '%Y-%m-%d %H:%M:%S %Z%z'
loc_dt.strftime(fmt)

'2017-09-03 18:00:00 EDT-0400'

In [43]:
start.timestamp()

1504476000.0

In [17]:
eastern = pytz.timezone('US/Eastern')

In [26]:
loc_dt = eastern.localize()
loc_dt

datetime.datetime(2017, 9, 3, 10, 0, tzinfo=<DstTzInfo 'US/Eastern' EDT-1 day, 20:00:00 DST>)

In [27]:
loc_dt.timestamp()

1504447200.0

In [28]:
loc_dt.astimezone(pytz.utc)

datetime.datetime(2017, 9, 3, 14, 0, tzinfo=<UTC>)

In [29]:
loc_dt.astimezone(pytz.utc).timestamp()

1504447200.0

In [44]:
import pandas as pd

In [52]:
df = pd.read_csv('data.csv', sep='|', skiprows=2)
df.columns

Index(['+------------+--------+-------------------+--------------------+-------------------+-------------------+--------------------+----------+----------+-------+-------+--------+-------------------+-------------------+----------------+----------------+------------+'], dtype='object')

In [66]:
from io import StringIO

In [170]:
def clean_csv(filename):
    res = StringIO()
    with open('data.csv') as f:
        for line in f:
            if line.startswith('|'):
                line = line.strip('|').replace(' ', '')
                res.write(line)
    res.seek(0)
    return res

In [183]:
from datetime import datetime

converters = {}
converters['time'] = datetime.fromtimestamp

In [185]:
res = clean_csv('data.csv')
df = pd.read_csv(res, sep='|')
df.columns

Index(['time', 'icao24', 'lat', 'lon', 'velocity', 'heading', 'vertrate',
       'callsign', 'onground', 'alert', 'spi', 'squawk', 'baroaltitude',
       'geoaltitude', 'lastposupdate', 'lastcontact', 'hour', 'Unnamed: 17'],
      dtype='object')

In [186]:
df.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour,Unnamed: 17
0,1504478054,a2a3b5,42.330002,-71.050644,287.578337,53.437590,0.32512,UAL915,False,False,False,566.0,11879.58,12252.96,1.504478e+09,1.504478e+09,1504476000,NaN
1,1504478055,a2a3b5,42.330788,-71.049287,287.885087,53.355353,0.32512,UAL915,False,False,False,566.0,11887.20,12252.96,1.504478e+09,1.504478e+09,1504476000,NaN
2,1504478056,a2a3b5,42.332324,-71.046476,287.885087,53.355353,0.32512,UAL915,False,False,False,566.0,11887.20,12252.96,1.504478e+09,1.504478e+09,1504476000,NaN
3,1504478057,a2a3b5,42.333860,-71.043666,287.885087,53.355353,0.00000,UAL915,False,False,False,566.0,11887.20,12252.96,1.504478e+09,1.504478e+09,1504476000,NaN
4,1504478058,a2a3b5,42.335071,-71.041430,287.885087,53.355353,0.00000,UAL915,False,False,False,566.0,11887.20,12252.96,1.504478e+09,1.504478e+09,1504476000,NaN

In [187]:
df.velocity.describe()

count    974.000000
mean     226.694084
std       71.282219
min       76.347719
25%      198.737195
50%      264.536789
75%      287.885087
max      303.838309
Name: velocity, dtype: float64

In [188]:
df.describe()

,time,lat,lon,velocity,heading,vertrate,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour,Unnamed: 17
count,9.850000e+02,985.000000,985.000000,974.000000,974.000000,974.000000,915.000000,984.000000,720.000000,9.850000e+02,9.850000e+02,9.850000e+02,0.0
mean,1.504487e+09,42.354930,-70.998439,226.694084,111.676738,-4.261609,4575.113661,7399.174878,7972.213333,1.504487e+09,1.504487e+09,1.504485e+09,NaN
std,7.651054e+03,0.024748,0.039365,71.282219,75.372702,9.881351,2491.268177,3845.191727,4465.377551,7.601816e+03,7.647169e+03,7.751409e+03,NaN
min,1.504476e+09,42.330002,-71.069471,76.347719,46.989624,-16.906240,237.000000,449.580000,426.720000,1.504476e+09,1.504476e+09,1.504476e+09,NaN
25%,1.504479e+09,42.336700,-71.026986,198.737195,53.620369,-16.906240,2462.000000,5913.120000,1409.700000,1.504479e+09,1.504479e+09,1.504476e+09,NaN
50%,1.504484e+09,42.339203,-71.005575,264.536789,53.848007,-0.325120,5750.000000,7425.690000,10271.760000,1.504484e+09,1.504484e+09,1.504483e+09,NaN
75%,1.504495e+09,42.373535,-70.952773,287.885087,183.301866,0.325120,7154.000000,10668.000000,11597.640000,1.504495e+09,1.504495e+09,1.504494e+09,NaN
max,1.504496e+09,42.409880,-70.950581,303.838309,302.619243,21.783040,7306.000000,11887.200000,12252.960000,1.504496e+09,1.504496e+09,1.504494e+09,NaN

In [189]:
for column in df.columns:
    print(column, df[column].dtype)

time int64
icao24 object
lat float64
lon float64
velocity float64
heading float64
vertrate float64
callsign object
onground bool
alert bool
spi bool
squawk float64
baroaltitude float64
geoaltitude float64
lastposupdate float64
lastcontact float64
hour int64
Unnamed: 17 float64

In [190]:
df.onground.value_counts()

False    984
True       1
Name: onground, dtype: int64

In [191]:
df.time

0      1504478054
1      1504478055
2      1504478056
3      1504478057
4      1504478058
5      1504478059
6      1504478060
7      1504478061
8      1504478062
9      1504478063
10     1504478064
11     1504478065
12     1504478066
13     1504478067
14     1504478068
15     1504478069
16     1504478070
17     1504478071
18     1504478072
19     1504478073
20     1504478074
21     1504478075
22     1504478076
23     1504478077
24     1504478078
25     1504478079
26     1504478080
27     1504478081
28     1504478082
29     1504478083
          ...
955    1504478604
956    1504478605
957    1504478606
958    1504478607
959    1504478608
960    1504478609
961    1504480454
962    1504480455
963    1504480456
964    1504480457
965    1504480458
966    1504480459
967    1504480460
968    1504480461
969    1504480462
970    1504480463
971    1504480464
972    1504480465
973    1504480466
974    1504480467
975    1504480468
976    1504480469
977    1504480470
978    1504480471
979    1504480472
980    1504480473
981    1504480474
982    1504480475
983    1504480476
984    1504480477
Name: time, Length: 985, dtype: int64

In [192]:
grouped = df.groupby('icao24')
len(grouped)

27

In [193]:
for name, group in grouped:
    print(name, len(group))

06a0fb 28
3c4b2d 38
3c4b31 24
400615 25
400684 25
4006b2 8
4007f4 41
401000 45
40608f 5
479a4d 50
4843f3 32
4ca615 16
4ca842 22
738041 48
a05614 6
a12861 13
a2a3b5 38
a300b6 33
a4f3d9 300
a69549 15
a6cad3 7
a7debf 12
a8bc71 9
aa635c 24
aaf8f1 30
ab80f4 22
abf2c2 69

In [199]:
grouped.get_group('4006b2')

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour,Unnamed: 17
452,1504482311,4006b2,42.398894,-71.068513,297.101988,54.300861,0.00000,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
453,1504482312,4006b2,42.400589,-71.065625,297.101988,54.300861,0.00000,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
454,1504482313,4006b2,42.402199,-71.062572,297.101988,54.300861,-0.32512,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
455,1504482314,4006b2,42.403656,-71.059570,297.101988,54.300861,-0.32512,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
456,1504482315,4006b2,42.405178,-71.056696,296.802089,54.381510,0.00000,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
457,1504482316,4006b2,42.406631,-71.053952,296.802089,54.381510,0.00000,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
458,1504482317,4006b2,42.408297,-71.050820,296.802089,54.381510,0.00000,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN
459,1504482318,4006b2,42.409698,-71.047960,296.802089,54.381510,-0.32512,BAW11J,False,False,False,7143.0,10668.0,10949.94,1.504482e+09,1.504482e+09,1504479600,NaN

In [200]:
df[df.baroaltitude<1000]

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour,Unnamed: 17
44,1504476652,a7debf,42.337555,-71.018184,NaN,NaN,NaN,NaN,False,False,False,NaN,579.12,NaN,1.504477e+09,1.504477e+09,1504476000,NaN
45,1504476653,a7debf,42.337555,-71.018184,NaN,NaN,NaN,NaN,False,False,False,NaN,586.74,NaN,1.504477e+09,1.504477e+09,1504476000,NaN
46,1504476654,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,594.36,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
47,1504476655,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,594.36,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
48,1504476656,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,594.36,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
49,1504476657,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
50,1504476658,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
51,1504476659,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
52,1504476660,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
53,1504476661,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
54,1504476662,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NaN,False,False,False,NaN,617.22,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
55,1504476663,a7debf,42.337555,-71.018184,90.490977,151.103584,6.50240,NKS615,False,False,False,3404.0,655.32,556.26,1.504477e+09,1.504477e+09,1504476000,NaN
56,1504478874,a69549,42.333939,-71.016187,80.386711,183.301866,8.12800,NaN,False,False,False,7306.0,586.74,NaN,1.504479e+09,1.504479e+09,1504476000,NaN
57,1504478875,a69549,42.333939,-71.016187,80.386711,183.301866,8.12800,NaN,False,False,False,7306.0,586.74,NaN,1.504479e+09,1.504479e+09,1504476000,NaN
58,1504478876,a69549,42.333939,-71.016187,80.386711,183.301866,8.12800,NaN,False,False,False,7306.0,586.74,NaN,1.504479e+09,1.504479e+09,1504476000,NaN
59,1504478877,a69549,42.333939,-71.016187,80.386711,183.301866,8.12800,NaN,False,False,False,7306.0,586.74,NaN,1.504479e+09,1.504479e+09,1504476000,NaN
60,1504478878,a69549,42.333939,-71.016187,80.386711,183.301866,8.12800,NaN,False,False,False,7306.0,586.74,NaN,1.504479e+09,1.504479e+09,1504476000,NaN
61,1504478879,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,617.22,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
62,1504478880,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
63,1504478881,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
64,1504478882,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
65,1504478883,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
66,1504478884,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
67,1504478885,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
68,1504478886,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
69,1504478887,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
70,1504478888,a69549,42.330090,-71.012240,99.660165,139.815745,5.52704,NaN,False,False,False,7306.0,624.84,586.74,1.504479e+09,1.504479e+09,1504476000,NaN
76,1504477162,aaf8f1,42.335303,-71.014795,88.007522,181.674838,21.78304,NaN,False,False,False,3460.0,579.12,NaN,1.504477e+09,1.504477e+09,1504476000,NaN
77,1504477163,aaf8f1,42.335303,-71.014795,88.007522,181.674838,21.78304,NaN,False,False,False,3460.0,579.12,NaN,1.504477e+09,1.504477e+09,1504476000,NaN
78,1504477164,aaf8f1,42.335303,-71.014795,88.007522,181.674838,21.78304,NaN,False,False,False,3460.0,579.12,NaN,1.504477e+09,1.504477e+09,1504476000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,1504478073,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
462,1504478074,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
463,1504478075,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
464,1504478076,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
465,1504478077,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
466,1504478078,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
467,1504478079,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,449.58,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
468,1504478080,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,563.88,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
469,1504478081,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,563.88,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
470,1504478082,4ca842,42.341960,-71.019649,80.111337,169.267335,16.58112,NaN,False,False,False,NaN,594.36,426.72,1.504478e+09,1.504478e+09,1504476000,NaN
471,1504478083,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
472,1504478084,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
473,1504478085,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
474,1504478086,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
475,1504478087,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
476,1504478088,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
477,1504478089,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,601.98,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
478,1504478090,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,678.18,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
479,1504478091,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,685.80,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
480,1504478092,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,693.42,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
481,1504478093,4ca842,42.341960,-71.019649,88.331698,139.724452,11.05408,NaN,False,False,False,NaN,708.66,579.12,1.504478e+09,1.504478e+09,1504476000,NaN
952,1504478601,a8bc71,42.336319,-71.014439,96.597735,157.121942,6.50240,JBU405,False,False,False,NaN,525.78,434.34,1.504479e+09,1.504479e+09,1504476000,NaN
953,1504478602,a8bc71,42.336319,-71.014439,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,533.40,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
954,1504478603,a8bc71,42.336319,-71.014439,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
955,1504478604,a8bc71,42.333847,-71.012441,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
956,1504478605,a8bc71,42.333847,-71.012441,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
957,1504478606,a8bc71,42.333847,-71.012441,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
958,1504478607,a8bc71,42.333847,-71.012441,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
959,1504478608,a8bc71,42.333847,-71.012441,97.784966,154.108986,10.40384,JBU405,False,False,False,NaN,548.64,457.20,1.504479e+09,1.504479e+09,1504476000,NaN
960,1504478609,a8bc71,42.333847,-71.012441,105.615240,137.763857,3.90144,JBU405,False,False,False,NaN,571.50,480.06,1.504479e+09,1.504479e+09,1504476000,NaN